* {box-sizing: border-box;}
body{
	font-family:Arial, sans-serif;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  width: 30%;
  margin-left: 35%;  
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

.input-fieldError {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 2px solid red;
}

.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  width: 30%;
  margin-left: 35%;
  
}

.btn:hover {
  opacity: 1;
}

h2{
	font-size: 15px;
	margin-left: 35%;
}
#link{
	margin-left: 35%;
}

a:visited{
	text-decoration: none;
}

a:link{
	text-decoration: none;
}

.wrong-username{
	display: block;
	font-size: 16px;
	color: red;
	border:none;
	margin-top: -180px;
	margin-left: 66%;
	
}

.wrong-password{
	display: block;
	font-size: 16px;
	color: red;
	border:none;
	margin-left: 66%;
	margin-top: 65px;
}

.wrong-login{
	display: block;
	font-size: 16px;
	color: red;
	border: none;
	margin-left: 35%;
	margin-top: 190px;
}